rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Service accounts have access to everything,
    // so deny everyone else
  	allow read, write: if false
  }
}